/*General*/
body { font-family: 'Open Sans', sans-serif;}
h1,h2,h3,h4,h5,h6 { font-family: 'Roboto Slab', serif; }
.sidebar-holder, .content-holder { border: 1px black dashed;}
.sidebar-holder { position: fixed; }

/*Nav Buttons*/
.nav-btn { background: none; color: grey; border-color: grey; display:block; margin: 5px 0 5px 0; }
.nav-btn:hover { background: none; background-color: grey; color: white; border-color: white}
.nav-btn:focus { background: none; background-color: grey; color: white; border-color: white; font-size: 1.2em; border-width: 2px;}

/*Contacts & Personal Links*/
.contact-vectors { height: 30px; width: 30px }
#email_link{height: 23px; width: 30px}
.contact-links { text-align: center;}

/* Profile Image*/
.profile_img-holder { height: 200px; width: 200px; }
#profile_img { width: 100%; height: 100%; object-fit: scale-down ; border-radius: 20%; border: 1px rgba(100, 100, 100, 0.3) solid}

/*Banner Section*/
.head-banner, .section { border: 1px blue dashed; }
.head-banner { width: 100%; height: 400px; position: relative}
#banner_img { width: 100%; height: 100%; object-fit: cover; }
#banner-announcement { position: absolute; bottom: 0; left: 0; background-color: rgba(100, 100, 100, 0.7); color: white;}
.disclaimer { font-family: helvetica; text-align: center;}

/*Education Section*/
#education { padding-right: 0px}
.education-placeholder { width: 60%; padding: 0px;}
.education-content { width: 40%;}
#glasses_img { width: 100%; height: 100%; object-fit: scale-down; }

/*Work Experience Section*/
.experience-content { width: 40%; }
.experience-placeholder { width: 60%; padding: 0px;}
#coffee_img { width: 100%; height: 100%; object-fit: scale-down; }



/*Spacers Only*/
.spacer { border: 1px solid grey;}
#head_spacer { height: auto; }
